<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <div id="app">
      <form @submit="addNewTodo">
        <label for="new-todo">todo를 추가하세요</label>
        <input type="text" id="new-todo" v-model="newTodoText" />
        <button>추가</button>
      </form>
      <ul>
        <todo-item
          v-for="todo in todos"
          :key="todo.id"
          :todo="todo"
          @remove="removeTodo"
        />
      </ul>
    </div>

    <script>
      const generateId = () => {
        return `${Date.now()}${Math.random()}`;
      };

      const TodoItem = {
        template: `
        <li>
          {{ todo.title }}
          <button @click="$emit('remove', todo.id)">삭제</button>
        </li>
        `,
        props: ["todo"], // component 밖에서 todo라는 데이터 받아올 거다
      };

      const App = {
        components: {
          TodoItem,
        },
        data() {
          return {
            newTodoText: "",
            todos: [],
          };
        },
        methods: {
          addNewTodo(event) {
            event.preventDefault();
            this.todos.push({
              id: generateId(),
              title: this.newTodoText,
            });
            this.newTodoText = "";
            console.log(this.todos);
          },
          removeTodo(todoId) {
            this.todos = this.todos.filter((todo) => {
              return todo.id !== todoId;
            });
          },
        },
      };

      const vm = Vue.createApp(App).mount("#app");
    </script>
  </body>
</html>
