<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <div id="app">
      <div>
        <span>라디오 버튼</span>
        <input type="radio" v-model="picked" value="aa" />
        <input type="radio" v-model="picked" value="bb" />
        <input type="radio" v-model="picked" value="cc" />
      </div>
      <div>
        <span>체크박스</span>
        <input type="checkbox" v-model="checked" value="ddd" />
        <input type="checkbox" v-model="checked" value="eee" />
        <input type="checkbox" v-model="checked" value="fff" />
      </div>
      <select v-model="selected">
        <option value="">하나를 선택하세요</option>
        <!-- <option value="apple">사과</option>
        <option value="banana">바나나</option>
        <option value="cherry">체리</option> -->
        <option v-for="fruit in fruits" :key="fruit.value" :value="fruit.value">
          {{fruit.text}}
        </option>
      </select>
      <div>
        <input type="text" v-model.lazy.number.trim="msg" />
        <h1>{{msg}}</h1>
      </div>
    </div>

    <script>
      const App = {
        data() {
          return {
            picked: "",
            checked: [],
            selected: "", // value 넣어두면 default로 시작
            fruits: [
              { text: "사과", value: "apple" },
              { text: "바나나", value: "banana" },
              { text: "체리", value: "cherry" },
            ],
            msg: "안녕",
          };
        },
        watch: {
          picked(newValue) {
            console.log(newValue);
          },
          checked(newValue) {
            console.log(newValue);
          },
          selected(newValue) {
            console.log(newValue);
          },
          msg(newValue) {
            console.log(newValue); // 공백 문자가 제거된 msg는 기존의 msg와 같기 때문에 반응 log 안 찍힘
          },
        },
      };

      const vm = Vue.createApp(App).mount("#app");
    </script>
  </body>
</html>
