<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <div id="app">
      <div>
        <span>라디오 버튼</span>
        <input type="radio" v-model="picked" value="aa" />
        <input type="radio" v-model="picked" value="bb" />
        <input type="radio" v-model="picked" value="cc" />
      </div>
      <div>
        <span>체크박스</span>
        <input type="checkbox" v-model="checked" value="ddd" />
        <input type="checkbox" v-model="checked" value="eee" />
        <input type="checkbox" v-model="checked" value="fff" />
      </div>
    </div>

    <script>
      const App = {
        data() {
          return { picked: "", checked: [] };
        },
        watch: {
          picked(newValue) {
            console.log(newValue);
          },
          checked(newValue) {
            console.log(newValue);
          },
        },
      };

      const vm = Vue.createApp(App).mount("#app");
    </script>
  </body>
</html>
